@import '../../../variables.scss';

.graph-container {
    border-radius: 1.5rem;
    box-shadow: inset 1.5rem 1.5rem 3rem $color-shadow-positive, inset -1.5rem -1.5rem 3rem $color-shadow-negative;
    height: 80vh;
}