// Colors 
$color-dark: #201f20;
$color-light: #fafafa;
$color-shadow-positive: #1b1a1b;
$color-shadow-negative: #252425;

// Fonts
$font-main: 'Raleway', sans-serif; 
$font-display: 'Caveat', sans-serif; 